.header{width:100%;
  background-color: white;
  background-image:url("Images/Game_of_Thrones_title_card copy.png");
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left:0;
  box-sizing: border-box;
  position:fixed;
  z-index: 999;
  height:150px;
  padding: 0;
  background-size: cover;
  }
body{background-color: black;
  margin:0;}


.menu{height:50px;
  font-size: 30px;
  background-color:grey;
  margin-top: -75px;
  position:fixed;
  z-index: 999;
  margin-left: 0;
  width:100%;}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  width:24%;
  margin-top: 5px;
  position:relative;
  text-align: center;
}
.page{height:3000px;
      margin-top: 375px}
a{font-size: 30px;
  color: black;
text-decoration: none;
font-family: Almendra SC;}
h1{margin-top: 225px;
  color: white;
  font-size: 40px;
font-family: Almendra SC;}
p{color: white;
  font-size: 30px;
  font-family: Almendra SC;}
.white{color:blue;
font-family: Almendra SC;}
.links{margin-top: 100px;}
