.header{width:100%;
  background-color: white;
  background-image:url("Images/Game_of_Thrones_title_card copy.png");
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  left:0;
  box-sizing: border-box;
  position:fixed;
  z-index: 1;
  height:150px;
  padding: 0;
  background-size: cover;
  }
body{background-color: black;
  margin:0;}


.menu{height:50px;
  font-size: 30px;
  background-color:grey;
  margin-top:-75px;
  position:fixed;
  margin-left: 0;
  width:100%;}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  width:24%;
  margin-top: 5px;
  position:relative;
  text-align: center;
}
.page{height:300px;
      margin-top: 225px}
a{font-size: 30px;
  color: black;
text-decoration: none;}
